$widthSite: 1400px;
$contentWidth: 1140px;
$backgroundColorMain: #F8F3F4;
$backgroundColorNavFooter: #222222;
$colorTextHeading: #f16d7f;
$fontStyle: 'Lato', sans-serif;
$navFooterPadding: 10px 20px;
$minHeightContainer: 150px;
$cursorContent: pointer;
$imageHeight: auto;
$backgroundColorMain: #ffffff;
$backgroundColorNavFooter: #222222;