@use '../../styles/variables' as *;

.navFooter {
  background: $backgroundColorNavFooter;
  padding: $navFooterPadding;
  font-size: 14px;
  color: #fbfbfb;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__left-group,
  &__right-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .icon-button {
    position: relative;

    &.active {
      .icon {
        filter: brightness(0) saturate(100%) invert(54%) sepia(48%) saturate(1233%) hue-rotate(305deg) brightness(94%) contrast(96%);
      }
    }
  }

  .cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background: $colorTextHeading;
    color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
  }
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  background-color: #F8F3F4;
  min-height: 150px;

  &__link {
    font-weight: 300;
    font-size: 14px;
    color: #636363;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: $colorTextHeading;
    }

    &_site {
      font-weight: 700;
      color: $colorTextHeading;
    }
  }

  &__separator {
    margin: 0 8px;
    color: #636363;
  }
}

.top-head {
  background-color: #F8F3F4;
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  &__heading {
    font-weight: 400;
    font-size: 24px;
    color: $colorTextHeading;
  }
}