// src/components/Features/Features.scss
@use '../../styles/variables' as *;

.navFooter {
  background-color: $backgroundColorNavFooter;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: $widthSite;
  margin: 0 auto;
  padding: $navFooterPadding; 
}

.feature-item {
  margin-top: 20px;
  text-align: center;
  width: 280px;

  .icon {
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    display: block;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain; 
  }

  h3 {
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 500;
    color: $colorTextHeading;
    font-family: $fontStyle; 
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    color: #aaa;
    font-family: $fontStyle; }}}